MG_PUBLIC_ORIGIN=placeholder
MG_SOURCE_URL=placeholder
MG_API_IMAGE=placeholder
MG_WORKER_IMAGE=placeholder
MG_PROXY_IMAGE=placeholder
MG_SECRET_ROOT=placeholder
MG_AUTH_KEY=placeholder
MG_DATABASE_URL=placeholder
MG_MIGRATION_DATABASE_URL=placeholder
MG_S3_ENDPOINT=placeholder
MG_S3_REGION=placeholder
MG_S3_BUCKET=placeholder
MG_BACKUP_BUCKET=placeholder
MG_TRUSTED_PROXY_IPS=placeholder
MG_AUTH_KEY_FILE=placeholder
MG_S3_ACCESS_KEY_FILE=placeholder
MG_S3_SECRET_KEY_FILE=placeholder
MG_BACKUP_IMAGE=placeholder
MG_BACKUP_DATABASE_URL_FILE=placeholder
MG_BACKUP_ACCESS_KEY_FILE=placeholder
MG_BACKUP_SECRET_KEY_FILE=placeholder
MG_RESTORE_DATABASE_URL_FILE=placeholder

MG_KEEPER_IMAGE=placeholder
